<ion-header no-border>

  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon ios="ios-close" md="ios-close" class="btn-close-filters"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <h4>CERCA PER EMAIL
    <br> O USERNAME</h4>

  <ion-item>
    <ion-label stacked>Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

</ion-content>

<ion-footer>
  <button no-margin large color="accent" (click)="addUser()" ion-button full>Aggiungi</button>
</ion-footer>
