<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Foosball - League</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <h4 class="accent-text" text-center>SCEGLI CHI SFIDARE</h4>
  <ion-list>

    <ion-item *ngFor="let user of friends">
      <ion-label>{{user.firstname}}</ion-label>
      <ion-checkbox [(ngModel)]="user.selected"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <button no-margin large color="accent" [disabled]="cannotInvite()" (click)="userSelected()" ion-button full>INVITA</button>
</ion-footer>
