<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Foosball - League</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
 -->
  <h2 text-center class="accent-text">Royal Rumble</h2>
  <ion-row justify-content-center>
    <div class="rank-wrapper">
      <div>
        <small class="primary-text">RANKING</small>
        <span class="accent-text">26</span>
      </div>
    </div>
  </ion-row>
  <h6 text-center class="subtitle">Tag - Fondazione Agnelli</h6>

  <ion-list class="match-list">
    <ion-item-divider color="light">CONFERMA MATCH</ion-item-divider>

    <ion-item class="item-action" *ngFor="let invitation of invitations">
      <ion-col col-8>
        Richiesta da {{invitation.from.firstname}}
      </ion-col>
      <ion-col col-4>
        <a>X</a>
        <a>V</a>
      </ion-col>
    </ion-item>
    <ion-item-divider color="light">I MIEI MATCH</ion-item-divider>
    <ion-item class="item-normal" *ngFor="let game of games; let i = index;">
      <ion-row justify-content-between align-items-center>
        <ion-col col-8>
          Match {{i+1}}
          <span *ngIf="game.status === 'pending'"> - </span>
          <span *ngIf="game.status === 'pending'" class="accent-text">In Attesa</span>
        </ion-col>
        <ion-col col-4>
          <div text-right>
            <div class="game-day">{{game.day}}</div>
            <div class="game-month">{{game.month}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <button no-margin large color="accent" (click)="openGameModal()" ion-button full>Gioca</button>
</ion-footer>
