<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>PROFILO</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-row>
    <!-- FOTO PROFILO -->
  </ion-row>
  <ion-row>
    <ion-list>
      <ion-item>
        <ion-label floating>NOME</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>COGNOME</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>EMAIL</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>USERNAME</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>CITTA'</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>PROFESSIONE</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>
<ion-footer>
  <button no-margin large color="accent" (click)="update()" ion-button full>MODIFICA</button>
</ion-footer>