<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-grid text-center>
    <ion-row>
      <ion-col col-12>
        <p no-margin margin-top>Puoi utilizzare il tuo profilo Facebook per registrarti.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8 offset-2>
        <button ion-button icon-right outline block (click)="doFbLogin()">
          Registrati con Facebook
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 margin-top>
        <a href="#" (click)="showModalAppInfo();">Info sull'app</a>
        <br>
        <br>
        <a href="#" (click)="showPrivacy();">Noi teniamo alla tua privacy</a>
        <br>
        <a href="#" (click)="showModalTerms();">Termini e condizioni di utilizzo dell'app</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
