<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Foosball - League</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <h4 class="accent-text" text-center>ROYAL RUMBLE</h4>

  <ion-grid *ngIf="players.length > 0">
    <ion-row>
      <ion-col col-6>
        <ion-avatar>
          <img class="playerAvatar red" [ngClass]="{'offline': players[0].offline}" width="100" height="100" [src]="players[0].avatar">
        </ion-avatar>
        <h3 text-center>1°</h3>
        <h5 text-center>{{players[0].firstname}}</h5>
      </ion-col>
      <ion-col col-6>
        <ion-avatar>
          <img class="playerAvatar red" [ngClass]="{'offline': players[1].offline}" width="100" height="100" [src]="players[1].avatar">
        </ion-avatar>
        <h3 text-center>2°</h3>
        <h5 text-center>{{players[1].firstname}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-avatar>
          <img class="playerAvatar blue" [ngClass]="{'offline': players[2].offline}" width="100" height="100" [src]="players[2].avatar">
        </ion-avatar>
        <h3 text-center>3°</h3>
        <h5 text-center>{{players[2].firstname}}</h5>
      </ion-col>
      <ion-col col-6>
        <ion-avatar>
          <img class="playerAvatar blue" width="100" height="100" [src]="players[3].avatar">
        </ion-avatar>
        <h3 text-center>4°</h3>
        <h5 text-center>{{players[3].firstname}}</h5>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>


<ion-footer>
  <button no-margin large color="accent" [disabled]="notAllAccepted()" (click)="play()" ion-button full>GIOCA</button>
</ion-footer>
