// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #b4b4b4, secondary: #3a3a3a, accent: #ed7660, danger: #f53d3d, light: #f4f4f4, dark: #222);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
$toolbar-background: white;
$menu-md-background: map-get($colors, accent);
$menu-ios-background: map-get($colors, accent);
$checkbox-ios-background-color-on: map-get($colors, accent);
$checkbox-md-icon-background-color-on: map-get($colors, accent);
$checkbox-wp-icon-background-color-on: map-get($colors, accent);
$checkbox-md-icon-border-color-on: map-get($colors, accent);
$checkbox-md-icon-border-radius: 50%;
// $toolbar-md-title-text-color: map-get($colors, accent);
// $toolbar-ios-title-text-color: map-get($colors, accent);
// $toolbar-wp-title-text-color: map-get($colors, accent);
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
// @import "roboto";
// @import "noto-sans";