<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>friends</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-list class="match-list">
    <ion-item-divider color="light">AMICI</ion-item-divider>
    <ion-item class="item-normal" *ngFor="let friend of friends; let i = index;">
      <ion-avatar item-start>
        <img [src]="'avatars/' + friend.avatar">
      </ion-avatar>
      {{friend.name}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <button no-margin large color="accent" (click)="addFriend()" ion-button full>AGGIUNGI AMICI</button>
</ion-footer>
