// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: Lato;
    src: url('../assets/fonts/lato_100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('../assets/fonts/lato_300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('../assets/fonts/lato_400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: Lato;
    font-weight: 300 !important;
}

.rank-wrapper {
    border-radius: 100%;
    border: 1.5px solid map-get($colors, 'accent');
    height: 90px;
    width: 90px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    text-align: center;
    span {
        font-size: 38px;
    }
}

.primary-text {
    color: map-get($colors, 'primary') !important;
}

.accent-text {
    color: map-get($colors, 'accent') !important;
}

.text-uppercase {
    text-transform: uppercase;
}

ion-header::after {
    background-image: none;
}

.match-list {
    .item-divider-md {
        font-weight: 400 !important;
        font-size: 10px !important;
    }
    .item-divider-md,
    .item-md {
        padding-left: 40px;
    } // .item-md {
    //     .label-md {
    //         margin: 25px 8px 25px 8px;
    //     }
    // }
    // .item-divider-md {
    //     .label-md {
    //         margin: 13px 8px 13px 8px;
    //     }
    // }
    .item-action {
        padding-right: 0;
    }
    .item-normal {
        padding-right: 40px;
    }
    .game-day {
        font-size: 28px;
    }
    .game-month {
        font-size: 18px;
    }
}