<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CLASSIFICA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
 -->
  <h2 text-center class="accent-text">Royal Rumble</h2>
  <ion-row justify-content-center>
    <div class="rank-wrapper">
      <div>
        <small class="primary-text">RANKING</small>
        <span class="accent-text">26</span>
      </div>
    </div>
  </ion-row>
  <ion-row justify-content-center align-items-center>
    <ion-col col-6>
      <div class="game-day">VINTE</div>
      <div class="game-month">10</div>
    </ion-col>
    <ion-col col-6>
      <div class="game-day">PERSE</div>
      <div class="game-month">20</div>
    </ion-col>
  </ion-row>
  <ion-list class="match-list">
    <ion-item-divider color="light">TAG- FONDAZIONE AGNELLI</ion-item-divider>

    <ion-item class="item-action" *ngFor="let player of players">
      <ion-avatar item-start>
        <img [src]="'avatars/' + player.avatar">
      </ion-avatar>
      {{player.name}}
    </ion-item>
  </ion-list>
</ion-content>