<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Foosball - League</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <h4 class="accent-text" text-center>ROYAL RUMBLE</h4>

  <ion-grid *ngIf="games.length > 0">
    <ion-row (click)="winner('red')">
      <ion-col col-6>
        <ion-avatar>
          <img class="playerAvatar red" width="100" height="100" [src]="games[gameNumber][0].avatar">
        </ion-avatar>
        <h3 text-center>1°</h3>
        <h5 text-center>{{games[gameNumber][0].firstname}}</h5>
      </ion-col>
      <ion-col col-6>
        <ion-avatar>
          <img class="playerAvatar red" width="100" height="100" [src]="games[gameNumber][1].avatar">
        </ion-avatar>
        <h3 text-center>2°</h3>
        <h5 text-center>{{games[gameNumber][1].firstname}}</h5>
      </ion-col>
    </ion-row>
    <ion-row (click)="winner('blue')">
      <ion-col col-6>
        <ion-avatar>
          <img class="playerAvatar blue" width="100" height="100" [src]="games[gameNumber][2].avatar">
        </ion-avatar>
        <h3 text-center>3°</h3>
        <h5 text-center>{{games[gameNumber][2].firstname}}</h5>
      </ion-col>
      <ion-col col-6>
        <ion-avatar>
          <img class="playerAvatar blue" width="100" height="100" [src]="games[gameNumber][3].avatar">
        </ion-avatar>
        <h3 text-center>4°</h3>
        <h5 text-center>{{games[gameNumber][3].firstname}}</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <button no-margin large color="accent" [disabled]="gameNumber === 2" (click)="nextGame()" ion-button full>GARA {{gameNumber+1}}</button>
</ion-footer>
