page-game {
    .playerAvatar {
        margin: auto;
        border-radius: 50%;
        border: 4px solid;
    }
    .offline {
        opacity: 0.2;
    }
    h3 {
        margin-bottom: 3px;
    }
    h5 {
        margin-top: 0;
    }
    .playerAvatar.red {
        border-color: red;
    }
    .playerAvatar.blue {
        border-color: blue;
    }
    .row-divider {
        border-bottom: 2px solid gray;
    }
}