<!--
  Generated template for the MatchmakingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>matchmaking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>